{% extends "homepage.html" %}
{% block body %}
<form action="{{ url_for('main.check') }}" method=post> <!-- delete add-entry -->
    <div class=textAndModels>
        <div class=textPartContainer>
            <div class=textPart>
                <p>
                    <b>Enter statement below.<br></b>
                </p>
                <textarea name=text rows=10 cols=60></textarea>
            </div>
        </div>
        <div class=checkBoxPartContainer>
            <p>
                <b>Choose models below.</b>
            </p>
            <div class=checkBoxPart>
                <!-- <input type="checkbox" name="models" value="DecisionTreeClassifier">DecisionTreeClassifier<br> -->
                <input type="checkbox" name="models" value="GaussianNB"><a href="https://en.wikipedia.org/wiki/Naive_Bayes_classifier">Gaussian Naive Bayes</a><br>
                <!-- <input type="checkbox" name="models" value="KNeighborsClassifier">KNeighborsClassifier<br> -->
                <input type="checkbox" name="models" value="LinearDiscriminantAnalysis"><a href="https://en.wikipedia.org/wiki/Linear_discriminant_analysis">Linear Discriminant Analysis</a><br>
                <input type="checkbox" name="models" value="LogisticRegression"><a href="https://en.wikipedia.org/wiki/Logistic_regression">Logistic Regression</a><br>
                <input type="checkbox" name="models" value="SupportVectorMachine"><a href="https://en.wikipedia.org/wiki/Support_vector_machine">Support Vector Machine</a><br>
            </div>
        </div>
    </div>
    <div class=submitButtonPart>
        <input class=submitButton type=submit value=Check>
    </div>
</form>
{% endblock %}
